<h2 class="hackney-heading">
  Related facilities
</h2>

<div class="govuk-grid-row">
  <% @related_facilities.group_by(&:description).each do |description, properties| %>
    <div class="tabcontent">
      <div class="govuk-grid-column-full">

        <table class="govuk-table hackney-related-facilities-table">
          <thead class="govuk-table__head">
            <tr>
              <th class="govuk-table__header" scope="col">
                <%= description %>
              </th>
              <th class="govuk-table__header" scope="col">
                Post code
              </th>
              <th class="govuk-table__header" scope="col">
                Property type
              </th>
              <th class="govuk-table__header" scope="col">
                Property reference
              </th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <% properties.each do |property| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <%= link_to property.address, property_path(property.reference) %>
                </td>
                <td class="govuk-table__cell">
                  <%= property.postcode %>
                </td>
                <td class="govuk-table__cell">
                  <%= property.description %>
                </td>
                <td class="govuk-table__cell">
                  <%= property.reference %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

  <% end %>
</div>
