<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation hackney-panel">
        <h1>
          Repair work order created
        </h1>
        <div class="govuk-panel__body">
          Work order number<br>
          <strong class="govuk-!-font-size-36"><%= @repair_request.work_orders.first.reference %></strong>
        </div>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Please,
          <% if @repair_request.work_orders.first.is_dlo? %>
            <%= link_to "open DRS", drs_url %> to book an appointment!
          <% else %>
            open UH to book an appointment!
          <% end %>
        </strong>
      </div>

      <ul class="govuk-list govuk-!-margin-top-9">
        <li>
          <%= link_to "Raise new repair on #{@property.first_line_of_address}", new_property_repair_request_path(@property.reference), class: "govuk-link" %>
        </li>

        <li>
          <%= link_to "Back to #{@property.first_line_of_address}", property_path(@property.reference), class: "govuk-link" %>
        </li>

        <li>
          <% #FIXME: visiting search_properties_path raises exception... %>
          <%= link_to "Start a new search", root_path %>
        </li>
      </ul>

    </div>
  </div>
</div>
