<% content_for :title, "New repair for #{@property.address} - Hackney Repairs Hub" %>
<% content_for :back_button do %>
  <%= link_to 'Back', property_path(@property.reference), class: 'govuk-back-link' %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        New repair
      </span>
      <h1 class="govuk-heading-l">
        <%= @property.description.singularize %>: <%= @property.first_line_of_address %>
      </h1>

      <%= render partial: "shared/tenure_and_cautionary_contact_info", locals: { property: @property } %>

      <h2 class="govuk-heading-m">
        Repair task details
      </h2>

      <%= govuk_form_with(
        model: @repair_request,
        url: property_repair_requests_path(@property.reference),
        local: true
      ) do |form|
      %>

        <table class="repair-request-sor-code-table">
          <%= form.fields_for :tasks, @repair_request.tasks.first do |fields| %>
            <tr>
              <th>
                <%= fields.label :sor_code, "SOR Code" %>
              </th>
              <th>
                <%= fields.label :estimated_units, "Quantity" %>
              </th>
              <th>
              </th>
            </tr>
          <% end %>

          <% @repair_request.tasks.each_with_index do |task, i| %>
            <%= form.fields_for :tasks, task, child_index: i do |fields| %>
              <tr>
                <td class="sor-code-column">
                  <%= fields.form_group :sor_code do %>
                    <%= fields.error_messages :sor_code %>
                    <%= fields.text_field :sor_code %>
                  <% end %>
                </td>
                <td class="quantity-column">
                  <%= fields.form_group :estimated_units do %>
                    <%= fields.error_messages :estimated_units %>
                    <%= fields.text_field :estimated_units %>
                  <% end %>
                </td>
                <td class="keyfax-column">
                  <% if i == 0 %>
                    <div class="govuk-form-group">
                      <%= link_to "Launch Keyfax", @keyfax_session.launch_url, class: "govuk-button keyfax-button" %>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <%= form.submit "+ Add another SOR code", name: "add_task", class: "button-link govuk-link hackney-link govuk-body-s" %>

      <%= form.form_group :priority do %>
        <%= form.label :priority, "Task priority" %>
        <%= form.error_messages :priority %>
        <%= form.collection_select(
          :priority,
          Hackney::RepairRequest::RAISABLE_PRIORITIES,
          :first,
          -> (x) { "#{x} - #{@repair_request.class.human_attribute_name("priority.#{x}")}" },
        ) %>
      <% end %>

      <%= form.form_group :description do %>
        <%= form.label :description, "Problem description" %>
        <%= form.error_messages :description %>
        <%= form.text_area :description, class: 'govuk-textarea govuk-!-margin-bottom-1', maxlength: 250, rows: 4, onkeyup: 'characterCount(event)' %>
        <span class="govuk-hint">
          You have <span id="counter" data-maximum-length="250">250</span> characters remaining.
          Anything over the limit should be added to the work order's notes.
        </span>
      <% end %>

      <%= form.form_group :recharge do %>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <%= form.error_messages :recharge %>
            <%= form.check_box :recharge %>
            <%= form.check_box_label :recharge, "Recharge repair to tenant" %>
          </div>
        </div>
      <% end %>

      <% if @contacts %>
        <table class="govuk-table">
          <caption class="govuk-table__caption">Contacts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Telephone 1</th>
              <th class="govuk-table__header" scope="col">Telephone 2</th>
              <th class="govuk-table__header" scope="col">Telephone 3</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @contacts.each do |contact| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= contact.full_name %></td>
                <td class="govuk-table__cell"><%= contact.telephone1 %></td>
                <td class="govuk-table__cell"><%= contact.telephone2 %></td>
                <td class="govuk-table__cell"><%= contact.telephone3 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif !@contacts.nil? %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            No contact details available for this property
          </strong>
        </div>
      <% else %>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            No contact details available because there is no tenancy agreement
            reference on this property
          </strong>
        </div>
      <% end %>

      <%= form.fields_for :contact do |fields| %>
        <%= fields.form_group :name do %>
          <%= fields.label :name, "Caller name" %>
          <%= fields.error_messages :name %>
          <%= fields.text_field :name %>
        <% end %>

        <%= fields.form_group :telephone_number do %>
          <%= fields.label :telephone_number, "Contact number" %>
          <%= fields.error_messages :telephone_number %>
          <%= fields.text_field :telephone_number %>
        <% end %>
      <% end %>

        <%= form.submit 'Create works order', class: 'govuk-button hackney-focus-colour' %>
      <% end %>
    </div>
  </div>
</div>
