<p class="govuk-heading-s">
We found

<% if address_list.count < limit %>
  <%= address_list.count %>
<% else %>
  more than <%= limit - 1 %>
<% end %>

matching results for

<% if is_postcode?(query) %>
  <%= format_postcode(query) -%>
<% else %>
  <%= query -%>
<% end %>
<% unless address_list.count < limit %>
.  Showing the first <%= limit - 1 %>
<% end %>

...
</p>

<% if address_list.present? %>
  <div id="hackney-addresses">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header" scope="col">Address</th>
          <th class="govuk-table__header" scope="col">Postcode</th>
          <th class="govuk-table__header" scope="col">Property type</th>
          <th class="govuk-table__header" scope="col">Property reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% address_list.each do |property| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= link_to property.address, property_path(property.reference) %></td>
          <td class="govuk-table__cell"><%= property.postcode %></td>
          <td class="govuk-table__cell"><%= property.description %></td>
          <td class="govuk-table__cell"><%= property.reference %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
