<% content_for :page_header do %>
  <h1 class="govuk-heading-l">
    <%= property.address %>
    <% if property.can_raise_repair? %>
      <% if params[:show_raise_a_repair] %>
        <span class="govuk-caption-l">
          <strong>
            <%= link_to "Raise a repair on this property", new_property_repair_request_path(property.reference), class: 'hackney-link hackney-link-no-visited' %>
          </strong>
        </span>
      <% end %>
    <% end %>
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="hackney-main-section-info">
        <h5 class="govuk-body-s property-details">Property details:</h5>
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= property.address %>
          </span><br>
          <%= property.postcode %>
        </p>
        <%
          clazz = "govuk-body-s hackney-property-tenure"
          if property.can_raise_repair?
            clazz += " hackney-property-tenure-turquoise"
          else
            clazz += " hackney-property-tenure-orange"
          end
        %>
        <p class="<%= clazz %>">
          <%= property.tenure %>
        </p>
      </div>
    </div>
  </div>
<% end %>
