<% content_for :page_header do %>
  <h1 class="govuk-heading-l hackney-property-heading">
    <%= property.address %>
  </h1>
  <% if params[:show_raise_a_repair] %>
    <% if property.can_raise_a_repair? %>
      <span class="govuk-heading-m hackney-page-header-raise-a-repair">
        <strong>
          <%= link_to "Raise a repair on this property", new_property_repair_request_path(property.reference), class: 'hackney-link hackney-link-no-visited' %>
        </strong>
      </span>
    <% else %>
      <div class="govuk-warning-text hackney-page-header-no-raise-a-repair">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Cannot raise a repair on this property due to tenancy status
        </strong>
      </div>
    <% end %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="hackney-main-section-info">
        <h5 class="govuk-body-s property-details">Property details:</h5>
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= property.address %>
          </span><br>
          <%= property.postcode %>
        </p>

        <%
          clazz = "govuk-body-s hackney-property-tenure"
          if property.can_raise_a_repair?
            clazz += " hackney-property-tenure-turquoise"
          else
            clazz += " hackney-property-tenure-orange"
          end
        %>
        <% if property.tenure.present? %>
          <p class="<%= clazz %>">
            <%= property.tenure %>
          </p>
        <% end %>

        <% if @cautionary_contacts.present? %>
          <table class="cautionary-contact-table">
            <tbody class="govuk-body-xs hackney-body-xs cautionary-contact">
              <% @cautionary_contacts.each do |cautionary_contact| %>
                <tr>
                  <th scope="row" class="govuk-!-font-weight-bold">
                    <%= cautionary_contact.alert_code -%><%=  cautionary_contact.caller_notes.present? ? ":" : ""  %>
                  </th>
                  <td>
                    <%=  cautionary_contact.caller_notes %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
