<%# FIXME: partial referencing controller's instance variables %>
<ul class="hackney-property-alerts">
  <li class="bg-<%= property.can_raise_a_repair? ? "turquoise" : "orange" %>">
    Tenure: <%= property.tenure %>
  </li>

  <% if property.new_build? %>
    <li class="bg-orange">
      Type: <%= property.property_type_description %> (<%= property.property_type_code %>)
    </li>
  <% end %>

  <% if property.is_tmo? %>
    <li class="bg-orange">
      <%= property.letting_area %>
    </li>
  <% end %>

  <% @cautionary_contact.address_alerts.each do |a| %>
    <li class="bg-orange">
      Address Alert: <%= a.description %> (<strong><%= a.code %></strong>)
    </li>
  <% end %>

  <% @cautionary_contact.contact_alerts.each do |a| %>
    <li class="bg-orange">
      Contact Alert: <%= a.description %> (<strong><%= a.code %></strong>)
    </li>
  <% end %>
</ul>

<% @cautionary_contact.caller_notes.each do |note| %>
  <p class="govuk-body-s color-secondary">
    Caller notes: <%= note %>
  </p>
<% end %>
