<%# FIXME: partial referencing controller's instance variables %>
<ul class="hackney-property-alerts">
  <li class="bg-<%= property.can_raise_a_repair? ? "turquoise" : "orange" %>">
    Tenure: <%= property.tenure %>
  </li>

  <% if property.is_tmo? %>
    <li class="bg-orange">
      <%= property.letting_area %>
    </li>
  <% end %>

  <% if @cautionary_contact.alert_codes.present? %>
    <li class="bg-orange">
      Alert: <strong><%= @cautionary_contact.alert_codes.join(" ") %></strong>
    </li>
  <% end %>
</ul>

<% @cautionary_contact.caller_notes.each do |note| %>
  <p class="govuk-body-s color-secondary">
    Caller notes: <%= note %>
  </p>
<% end %>
