<div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="work_order_info_section">
  <div class="hackney-main-section-info main-section-box hackney-appointment">
    <p class="govuk-body-s hackney-body-s">
      <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
        Works Order
      </span><br>
      <span class="govuk-!-font-weight-bold status-<%= @work_order.work_order_status %>">
        Status: <%= work_order_status_description(@work_order.work_order_status) %>
      </span><br>
      <span class="hackney-work-order-priority govuk-body-xs hackney-body-xs">
        Priority: <%= @work_order.repair_request.priority %>
      </span>
    </p>

    <p class="govuk-body-xs hackney-body-xs">
      Raised by <%= @work_order.user_name %>
      <br>
      <%= @work_order.created.to_s(:govuk_date_time_short) %>
    </p>

    <p class="govuk-body-xs hackney-body-xs govuk-!-font-weight-bold">
      Target: <%= @work_order.date_due.to_s(:govuk_date_time_short) %>
    </p>

    <p class="govuk-body-xs hackney-body-xs">
      Caller: <%= format_caller_name(@work_order.repair_request.contact_name) %>
      <br>
      <%= number_to_phone(@work_order.repair_request.telephone_number, pattern: /(\d{5})(\d{5,})$/, delimiter: " ") %>
    </p>
  </div>
</div>

<div class="govuk-grid-column-one-third hackney-grid-column-one-third">
  <div class="hackney-main-section-info main-section-box hackney-appointment" id="latest_appointment_section">
    <p class="govuk-body-s hackney-body-s">
      <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
        Appointment details
      </span><br>
    <% if @latest_appointment.present? %>
      <%= render 'latest_appointment', work_order: @work_order, latest_appointment: @latest_appointment %>
    <% else %>
      <span class="govuk-!-font-weight-bold hackney-text-green">
        There are no booked appointments.
      </span>
    <% end %>
    </p>
  </div>
</div>
