<div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="work_order_info_section">
  <div class="hackney-main-section-info main-section-box hackney-appointment">
    <p class="govuk-body-s hackney-body-s">
      <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
        Works Order
      </span><br>
      <span class="govuk-!-font-weight-bold status-<%= @work_order.work_order_status %>">
        Status: <%= work_order_status_description(@work_order.work_order_status) %>
      </span><br>
      <span class="hackney-work-order-priority govuk-body-xs hackney-body-xs">
        Priority: <%= @work_order.repair_request.priority %>
      </span>
    </p>

    <table class="govuk-table hackney-appointment-info">
      <tbody class="govuk-body-xs hackney-body-xs">
        <tr>
          <th scope="row">Raised:</th>
          <td>
            <%= @work_order.created.to_s(:govuk_date_time_short) %>
          </td>
        </tr>
        <tr>
          <th scope="row">Caller:</th>
          <td>
            <%= format_caller_name(@work_order.repair_request.contact_name) %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= @work_order.repair_request.telephone_number %>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody class="govuk-body-xs hackney-body-xs govuk-!-font-weight-bold">
        <th scope="row" class="govuk-!-font-weight-bold">Target:</th>
          <td>
            <%= @work_order.date_due.to_s(:govuk_date_time_short) %>
          </td>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-column-one-third hackney-grid-column-one-third">
  <div class="hackney-main-section-info main-section-box hackney-appointment" id="latest_appointment_section">
    <p class="govuk-body-s hackney-body-s">
      <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
        Appointment details
      </span><br>
    <% if @work_order.latest_appointment.present? %>
      <%= render 'latest_appointment', work_order: @work_order %>
    <% else %>
      <span class="govuk-!-font-weight-bold">
        There are no booked appointments.
      </span>
    <% end %>
    </p>
  </div>
</div>
