<% content_for :page_header do %>
  <div class="govuk-grid-row hackney-grid-row">
    <div class="govuk-grid-column-one-half hackney-grid-column-one-half">
      <h1 class="govuk-heading-l">
        Works order: <%= work_order.reference %>
      </h1>
    </div>
    <div class="govuk-grid-column-one-half hackney-grid-column-one-half">
      <h1 class="govuk-caption-m hackney-work-order-references hackney-body-m">
        Servitor ref: <%= work_order.servitor_reference %>
      </h1>
    </div>
  </div>

  <p class="govuk-body-m hackney-body-m">
    <%= work_order.problem_description %>
  </p>

  <div class="govuk-grid-row" id="work-order-heading-section">
    <div class="govuk-grid-column-one-third hackney-grid-column-one-third">
      <div class="hackney-main-section-info">
        <p class="govuk-body-s hackney-body-s">
          <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
            Dwelling
          </span><br>
          <% format_address(work_order.property.address).each do |line| %>
            <span class="govuk-!-font-weight-bold"><%= line %></span><br />
          <% end %>
          </span>
          <span class="govuk-body-xs hackney-text-green hackney-body-xs">
            <%= work_order.property.postcode %>
          </span>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="work_order_info_section">
      <div class="hackney-main-section-info hackney-appointment">
        <p class="govuk-body-s hackney-body-s">
          <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
            Works Order
          </span><br>
          <span class="govuk-!-font-weight-bold status-<%= work_order.work_order_status %>">
            Status: <%= work_order_status_description(work_order.work_order_status) %>
          </span><br>
        </p>

        <table class="govuk-table hackney-appointment-info">
          <tbody class="govuk-body-xs hackney-body-xs">
            <tr>
              <th scope="row">Raised:</th>
              <td>
                <%= work_order.created.to_s(:govuk_date_time_short) %>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody class="govuk-body-xs hackney-body-xs govuk-!-font-weight-bold">
            <th scope="row" class="govuk-!-font-weight-bold">Target:</th>
              <td>
                <%= @work_order.date_due.to_s(:govuk_date_time_short) %>
              </td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="latest_appointment_section">
      <div class="hackney-main-section-info hackney-appointment">
        <p class="govuk-body-s hackney-body-s">
          <span class="govuk-!-font-weight-bold" id="work-order-loading-data">
            <span class="ajax-loading">Loading latest appointment data</span>
          </span>
        </p>
      </div>
    </div>
  </div>
<% end %>

<script>
  function loadWorkOrderHeadingSection(response) {
    var workOrdersHeadingSection = document.getElementById('work-order-heading-section');

    var latestAppointmentSection = document.getElementById('latest_appointment_section');
    latestAppointmentSection.parentNode.removeChild(latestAppointmentSection);

    var workOrderInfoSection = document.getElementById('work_order_info_section');
    workOrderInfoSection.parentNode.removeChild(workOrderInfoSection);

    workOrdersHeadingSection.innerHTML += response;
  };

  function handleWorkOrdersHeadingSectionApiError() {
    document.getElementById('work-order-loading-data').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpWorkOrderHeadingSection = new XMLHttpRequest();
  xhttpWorkOrderHeadingSection.open('GET', "/api/work_orders/<%= work_order.reference %>/description", true);
  xhttpWorkOrderHeadingSection.onreadystatechange = function() {
    if (xhttpWorkOrderHeadingSection.readyState == 4) {
      if (xhttpWorkOrderHeadingSection.status == 200) {
        loadWorkOrderHeadingSection(xhttpWorkOrderHeadingSection.response);
      } else {
        handleWorkOrdersHeadingSectionApiError();
      }
    }
  }
  xhttpWorkOrderHeadingSection.onerror = handleWorkOrdersHeadingSectionApiError;
  xhttpWorkOrderHeadingSection.send();
</script>
