<% content_for :page_header do %>
  <div class="govuk-grid-row hackney-grid-row">
    <div class="govuk-grid-column-one-half hackney-grid-column-one-half">
      <h1 class="govuk-heading-l">
        Works order: <%= work_order.reference %>
      </h1>
      <% # FIXME: decide logic behind this? %>
      <% if work_order.work_order_status != "700" %>
        <span class="govuk-heading-m hackney-page-header-link-below">
          <strong>
            <%= link_to "Cancel repair", new_work_order_cancellation_path(work_order.reference), class: "hackney-link hackney-link-no-visited" %>
          </strong>
        </span>
      <% end %>
    </div>
    <div class="govuk-grid-column-one-half hackney-grid-column-one-half">
      <h1 class="govuk-caption-m hackney-work-order-references hackney-body-m">
        Servitor ref: <%= work_order.servitor_reference %>
      </h1>
    </div>
  </div>

  <p class="govuk-body-m hackney-body-m">
    <%= work_order.problem_description %>
  </p>

  <div class="govuk-grid-row" id="work-order-heading-section">
    <div class="govuk-grid-column-one-third hackney-grid-column-one-third">
      <div class="hackney-main-section-info main-section-box">
        <p class="govuk-body-s hackney-body-s">
          <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
            <%= work_order.property.description %>
          </span><br>
          <span class="govuk-!-font-weight-bold">
            <%= link_to(
              format_address(work_order.property.address),
              property_path(work_order.property.reference),
              class: "govuk-link hackney-link"
            ) %>
          </span><br>
          <span class="govuk-body-xs hackney-text-green hackney-body-xs">
            <%= work_order.property.postcode %>
          </span><br>
        </p>

        <%= render :partial => 'shared/tenure_and_cautionary_contact_info', locals: { property: work_order.property } %>

      </div>
    </div>

    <div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="work_order_info_section">
      <div class="hackney-main-section-info main-section-box hackney-appointment">
        <p class="govuk-body-s hackney-body-s">
          <span class="hackney-section-info-header govuk-body-xs hackney-body-xs">
            Works Order
          </span><br>
          <span class="govuk-!-font-weight-bold status-<%= work_order.work_order_status %>">
            Status: <%= work_order_status_description(work_order.work_order_status) %>
          </span><br>
        </p>

        <p class="govuk-body-xs hackney-body-xs">
          Raised by <%= work_order.user_name %><br>
          <%= work_order.created.to_s(:govuk_date_time_short) %>
        </p>

        <p class="govuk-body-xs hackney-body-xs govuk-!-font-weight-bold">
          Target: <%= @work_order.date_due.to_s(:govuk_date_time_short) %>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third hackney-grid-column-one-third" id="latest_appointment_section">
      <div class="hackney-main-section-info main-section-box hackney-appointment">
        <p class="govuk-body-s hackney-body-s hackney-text-green">
          <span class="govuk-!-font-weight-bold" id="work-order-loading-data">
            <span class="ajax-loading">Loading latest appointment data</span>
          </span>
        </p>
      </div>
    </div>
  </div>
<% end %>

<script>
  function loadWorkOrderHeadingSection(response) {
    var workOrdersHeadingSection = document.getElementById('work-order-heading-section');

    var latestAppointmentSection = document.getElementById('latest_appointment_section');
    latestAppointmentSection.parentNode.removeChild(latestAppointmentSection);

    var workOrderInfoSection = document.getElementById('work_order_info_section');
    workOrderInfoSection.parentNode.removeChild(workOrderInfoSection);

    workOrdersHeadingSection.innerHTML += response;
  };

  function handleWorkOrdersHeadingSectionApiError() {
    document.getElementById('work-order-loading-data').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpWorkOrderHeadingSection = new XMLHttpRequest();
  xhttpWorkOrderHeadingSection.open('GET', "/api/work_orders/<%= work_order.reference %>/description", true);
  xhttpWorkOrderHeadingSection.onreadystatechange = function() {
    if (xhttpWorkOrderHeadingSection.readyState == 4) {
      if (xhttpWorkOrderHeadingSection.status == 200) {
        loadWorkOrderHeadingSection(xhttpWorkOrderHeadingSection.response);
      } else {
        handleWorkOrdersHeadingSectionApiError();
      }
    }
  }
  xhttpWorkOrderHeadingSection.onerror = handleWorkOrdersHeadingSectionApiError;
  xhttpWorkOrderHeadingSection.send();
</script>
