<% content_for :page_header do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">
        Works order: <%= work_order.reference %>
      </h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-caption-m hackney-work-order-references">
        Servitor ref: <%= work_order.servitor_reference %>
      </h1>
    </div>
  </div>

  <p class="govuk-body-m">
    <%= work_order.problem_description %>
  </p>

  <div class="govuk-grid-row" id="work-order-heading-section">
    <div class="govuk-grid-column-one-third">
      <div class="hackney-main-section-info">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= work_order.property.address %>
          </span><br>
          <%= work_order.property.postcode %>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third" id="contact_section">
      <div class="hackney-main-section-info hackney-appointment">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= work_order.repair_request.contact&.name %>
          </span><br>
          <%= work_order.created.to_s(:govuk_date) %>
        </p>

        <table class="govuk-table hackney-appointment-info">
          <tbody class="govuk-body-xs">
            <% if work_order.repair_request.contact&.email_address %>
              <tr>
                <th scope="row">Email:</th>
                <td>
                  <%= mail_to work_order.repair_request.contact.email_address %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-column-one-third" id="latest_appointment_section">
      <div class="hackney-main-section-info hackney-appointment">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            Work order: <%= work_order_status_description(work_order.work_order_status) %>
          </span>
        </p>

        <table class="govuk-table hackney-appointment-info">
          <tbody class="govuk-body-xs">
            <tr>
              <th scope="row">Target date:</th>
              <td>
                <%= work_order.date_due.to_date.to_s(:govuk_date_short) %>,
                <%= work_order.date_due.to_s(:govuk_time) %>
              </td>
            </tr>

          </tbody>
        </table>

        <hr />

        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold" id="work-order-loading-data">
            <span class="ajax-loading">Loading latest appointment data</span>
          </span>
        </p>
      </div>
    </div>
  </div>
<% end %>

<script>
  function loadWorkOrderHeadingSection(response) {
    var workOrdersHeadingSection = document.getElementById('work-order-heading-section');

    var latestAppointmentSection = document.getElementById('latest_appointment_section');
    latestAppointmentSection.parentNode.removeChild(latestAppointmentSection);

    var contactSection = document.getElementById('contact_section');
    contactSection.parentNode.removeChild(contactSection);

    workOrdersHeadingSection.innerHTML += response;
  };

  function handleWorkOrdersHeadingSectionApiError() {
    document.getElementById('work-order-loading-data').innerHTML = 'There was a problem with an API while fetching data.'
  };

  var xhttpWorkOrderHeadingSection = new XMLHttpRequest();
  xhttpWorkOrderHeadingSection.open('GET', "/api/work_orders/<%= work_order.reference %>/description", true);
  xhttpWorkOrderHeadingSection.onreadystatechange = function() {
    if (xhttpWorkOrderHeadingSection.readyState == 4) {
      if (xhttpWorkOrderHeadingSection.status == 200) {
        loadWorkOrderHeadingSection(xhttpWorkOrderHeadingSection.response);
      } else {
        handlePossiblyRelatedWorkOrdersApiError();
      }
    }
  }
  xhttpWorkOrderHeadingSection.onerror = handleWorkOrdersHeadingSectionApiError;
  xhttpWorkOrderHeadingSection.send();
</script>
