<% content_for :page_header do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">
        Works order: <%= @work_order.reference %>
      </h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-caption-m hackney-work-order-references">
        Servitor ref: <%= @work_order.servitor_reference %>
      </h1>
    </div>
  </div>

  <div class="govuk-body-m">
    <p class='govuk-!-font-weight-bold'>
      Target date: <span class='hackney-work-order-target-date'><%= @work_order.date_due.to_s(:govuk_date) %></span>
    </p>
  </div>

  <p class="govuk-body-m">
    <%= @work_order.repair_request.description %>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= @work_order.property.address %>
          </span><br>
          <%= @work_order.property.postcode %>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= @work_order.repair_request.contact.name %>
          </span><br>
          <%= @work_order.created.to_s(:govuk_date) %>
        </p>

        <ul class="govuk-list govuk-body-s">
          <li>
            <%= @work_order.repair_request.contact.telephone_number %>
          </li>
          <li>
            <%= mail_to @work_order.repair_request.contact.email_address %>
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header hackney-appointment">
        <p class="govuk-body-s">
          <% if @work_order.latest_appointment.present? %>
          <span class="govuk-!-font-weight-bold">
            Appointment booked
          </span><br>
            for <%= @work_order.latest_appointment.begin_date.to_s(:govuk_date) %> until <%= @work_order.latest_appointment.end_date.to_s(:govuk_date) %>
          <% else %>
            There are no booked appointments.
          <% end %>
        </p>

        <table class="govuk-table hackney-appointment-info">
          <tbody class="govuk-body-xs">
            <tr>
              <th scope="row">Priority:</th>
              <td><%= @work_order.repair_request.priority %></td>
            </tr>
            <tr title="DLO Status: <%= dlo_status_description(@work_order.dlo_status) %>">
              <th scope="row">Status:</th>
              <td><%= work_order_status_description(@work_order.work_order_status) %></td>
            </tr>
            <tr>
              <th scope="row">Data source:</th>
              <td><%= @work_order.latest_appointment.source_system %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item hackney-tab">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#repair-history-tab">
        Repairs history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#notes-tab">
        Notes
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#builiding-work-orders-tab">
        Building work orders
      </a>
    </li>
  </ul>
  <%= render 'work_order_repairs_history' %>
  <%= render 'work_order_notes' %>
  <%= render 'work_order_building', dwelling_work_orders_hierarchy: @work_order.property.dwelling_work_orders_hierarchy %>
  </ul>
</div>
