<% content_for :page_header do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">
        <span>Work order</span>
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-m hackney-work-order-references">
        <span>
          <strong>UH ref:</strong> <%= @work_order.reference %>
        </span>
        <span> | </span>
        <span>
          <strong>Servitor ref:</strong> <%= @work_order.servitor_reference %>
        </span>
      </h1>
    </div>
  </div>

  <% if out_of_target?(@work_order, @work_order.latest_appointment) %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The booked appointment has passed its target date.
      </strong>
    </div>
  <% end %>

  <div class="govuk-body-m">
    <p class='govuk-!-font-weight-bold'>
      Target date: <span class='hackney-work-order-target-date'><%= @work_order.date_due.to_s(:govuk_date) %></span>
    </p>
  </div>

  <p class="govuk-body-m">
    <%= @work_order.repair_request.description %>
  </p>

  <!-- Collapsible work order key-info -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details">
        <summary class="govuk-details__summary hackney-work-order-header hackney-work-order-more-info">
          <p class="govuk-body-s">
            <span class="govuk-!-font-weight-bold">
              <%= @work_order.property.address %>
            </span>
            <p class="govuk-body-xs"><%= @work_order.property.postcode %></p>
          </p>
        </summary>
        <div class="govuk-details__text">
          <% if @work_order.repair_request.contact.name.present? %>
            <ul class="govuk-list govuk-body-s">
              <li class='govuk-!-font-weight-bold'>
                Tenancy:
              </li>
              <li>
                <%= @work_order.repair_request.contact.name %>
              </li>
              <li>
                <%= @work_order.repair_request.contact.telephone_number %>
              </li>
              <li>
                <%= mail_to @work_order.repair_request.contact.email_address %>
              </li>
            </ul>
          <% end %>
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-one-third">
      <details class="govuk-details">
        <summary class="govuk-details__summary hackney-work-order-header hackney-work-order-more-info">
          <p class="govuk-body-s">
            <span class="govuk-!-font-weight-bold">
              Contact:
              <% if @work_order.repair_request.contact.name.present? %>
                <%= @work_order.repair_request.contact.name %>
              <% else %>
                N/A
              <% end %>
            </span>
            <p class="govuk-body-xs">reported on <%= @work_order.created.to_s(:govuk_date) %>
            </p>
          </p>
        </summary>
        <div class="govuk-details__text">
          <% if @work_order.repair_request.contact.telephone_number.present? %>
            <ul class="govuk-list govuk-body-s">
              <li>
                <%= @work_order.repair_request.contact.telephone_number %>
              </li>
              <li>
                <%= mail_to @work_order.repair_request.contact.email_address %>
              </li>
            </ul>
          <% end %>
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-one-third">
      <details class="govuk-details">
        <summary class="govuk-details__summary hackney-work-order-header hackney-work-order-more-info">
          <p class="govuk-body-s">
            <% if @work_order.latest_appointment.present? %>
              <span class="govuk-!-font-weight-bold">
                Appointment booked
              </span>
              <p class="govuk-body-xs"> for <%= @work_order.latest_appointment.visit_prop_appointment.to_s(:govuk_date) %> until <%= @work_order.latest_appointment.visit_prop_end.to_s(:govuk_date) %>
            <% else %>
                There are no booked appointments.
              </p>
            <% end %>
          </p>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-body-xs hackney-appointment-info">
            <li>
              Priority: <%= @work_order.repair_request.priority %>
            </li>
            <li title="DLO Status: <%= dlo_status_description(@work_order.dlo_status) %>">
              Status: <%= work_order_status_description(@work_order.work_order_status) %>
            </li>
            <li>
              Data source: UH
            </li>
          </ul>
        </div>
      </details>
    </div>
  </div>
<% end %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item hackney-tab">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#repair-history-tab">
        Repair history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#notes-tab">
        Notes
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#related-repairs-tab">
        Related repairs
      </a>
    </li>
  </ul>
  <%= render 'work_order_repairs_history' %>
  <%= render 'work_order_notes' %>
  <%= render 'work_order_related_repairs' %>
</div>


