<%= render 'work_order_reference_top_section', work_order: @work_order %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#repair-history-tab">
        Repairs history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#notes-tab">
        Notes and appointments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#possibly-related-work-orders">
        Possibly related
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#related-tab">
        Related repairs
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#documents">
        Documents
      </a>
    </li>
  </ul>

  <%= render 'properties/property_repairs_history', property_reference: @work_order.property.reference %>
  <%= render 'work_order_notes', work_order_reference: @work_order.reference %>
  <%= render 'work_order_possibly_related', work_order_reference: @work_order.reference %>
  <%= render 'work_order_related', work_order_reference: @work_order.reference %>
  <%= render 'work_order_documents', work_order_reference: @work_order.reference %>
</div>
