<% content_for :page_header do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">
        <span>Work order</span>
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-m hackney-work-order-references">
        <span>UH ref: <%= @work_order.reference %></span>
        <span> | </span>
        <span>Servitor ref: <%= @work_order.servitor_reference %></span>
      </h1>
    </div>
  </div>

  <p class="govuk-body-m">
    <%= @work_order.repair_request.description %>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            <%= @work_order.property.address %>
          </span>
          <p class="govuk-body-xs"><%= @work_order.property.postcode %></p>
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header">
        <p class="govuk-body-s">
          <span class="govuk-!-font-weight-bold">
            Contact:
            <%= @work_order.repair_request.contact.name %>
          </span>
          <p class="govuk-body-xs">reported on <%= @work_order.created.to_s(:govuk_date) %></p>
        </p>

        <% if @work_order.repair_request.contact.telephone_number.present? %>
          <ul class="govuk-list govuk-body-s">
            <li>
              <%= @work_order.repair_request.contact.telephone_number %>
            </li>
            <li>
              <%= mail_to @work_order.repair_request.contact.email_address %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="hackney-work-order-header">
        <p class="govuk-body-s">
          <% if @work_order.latest_appointment.present? %>
            <span class="govuk-!-font-weight-bold">
              Appointment booked
            </span>
             <p class="govuk-body-xs"> for <%= @work_order.latest_appointment.visit_prop_appointment.to_s(:govuk_date) %> until <%= @work_order.latest_appointment.visit_prop_end.to_s(:govuk_date) %>
          <% else %>
              There are no booked appointments.
            </p>
          <% end %>
        </p>

        <ul class="govuk-list govuk-body-xs hackney-appointment-info">
          <li>
            Priority: <%= @work_order.repair_request.priority %>
          </li>
          <li title="DLO Status: <%= dlo_status_description(@work_order.dlo_status) %>">
            Status: <%= work_order_status_description(@work_order.work_order_status) %>
          </li>
          <li>
            Data source: UH
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% if out_of_target?(@work_order, @work_order.latest_appointment) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      The booked appointment has passed its target date.
    </strong>
  </div>
<% end %>

<ul class="govuk-list">
  <li class='govuk-!-font-weight-bold'>
    Target date: <span class='hackney-work-order-target-date'><%= @work_order.date_due.to_s(:govuk_date) %></span>
  </li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class='govuk-heading-m'>
  Notes
</h2>

<% if @work_order.notes.present? %>
  <ul class="govuk-list hackney-note-timeline">
  <% @work_order.notes.sort_by(&:logged_at).reverse.each do |note| %>
    <li class='hackney-note'>
      <p class="govuk-body hackney-note-timeline-breakpoint">
        <div class="hackney-note-info">
          <%= note.logged_at.to_s(:govuk_date) %> by <%= note.logged_by %>
        </div>
        <%= simple_format(note.text) %>
      </p>
    </li>
  <% end %>
  </ul>
<% else %>
  <p class="govuk-body-s">There are no notes for this work order.</p>
<% end %>

<h2 class="govuk-heading-l">
  Repairs History
</h2>

<table class="govuk-table hackney-history">
  <thead class="govuk-table__head">
  <tr>
    <th class="govuk-table__header" scope="col">Reference</th>
    <th class="govuk-table__header" scope="col">Date Raised</th>
    <th class="govuk-table__header" scope="col">Status</th>
    <th class="govuk-table__header" scope="col">Description</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @work_order.property.work_orders.sort_by(&:created).reverse.each do |work_order| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= link_to work_order.reference, work_order_path(work_order.reference) %></td>
      <td class="govuk-table__cell"><%= work_order.created.to_s(:technical) %></td>
      <td class="govuk-table__cell">
        <span class="status status-<%= work_order.work_order_status %>">
          <%= work_order_status_description(work_order.work_order_status).downcase %>
        </span>
      </td>
      <td class="govuk-table__cell description"><%= work_order.problem_description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
