<%= render 'work_order_reference_top_section', work_order: @work_order %>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list hackney-tabs-list">
    <li class="govuk-tabs__list-item hackney-tab">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#repair-history-tab">
        Repairs history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#notes-tab">
        Notes and appointments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#builiding-work-orders-tab">
        Building work orders
      </a>
    </li>
      <a class="govuk-tabs__tab hackney-work-order-tab" href="#related-tab">
        Related repairs
      </a>
    </li>
  </ul>
  <%= render 'work_order_repairs_history', work_order_repairs_history: @work_order.property.work_orders,  trades: @work_order.property.trades %>
  <%= render 'work_order_notes', work_order: @work_order %>
  <%= render 'work_order_building', dwelling_work_orders_hierarchy: @work_order.property.dwelling_work_orders_hierarchy %>
  <%= render 'work_order_related' %>
</div>
