<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "Hackney Repairs Hub" %></title>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#0b0c0c" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="shortcut icon" href="/favicon1.png" type="image/x-icon" />
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

  <% if ENV['GOOGLE_ANALYTICS'] %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS'] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= ENV['GOOGLE_ANALYTICS'] %>');
  </script>
  <% end %>

  <% if ENV['HOT_JAR_ID'] %>
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:<%= ENV['HOT_JAR_ID'] %>,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <% end %>
</head>

<body class="govuk-template__body hackney-template">
  <script>
    document.body.className = (
      (document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled'
    );
  </script>

  <header class="hackney-header">
    <div class="hackney-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= image_tag 'Hackney_Logo_White.png', class: "hackney-header__logo" %>
          <%= link_to 'Repairs Hub', root_path, class: "hackney-header__title" %>
          <strong class="hackney_header__tag">beta</strong>
        </div>
        <div class="govuk-grid-column-one-third hackney-header__links hackney-header__right_links">
          <% if action_name != "home" %>
            <%= link_to image_tag('govuk-icon-search-2x.png'), root_path, class: "hackney-header__right_links-image" %>
            <%= link_to 'Search', root_path, class: "hackney-header__search" %>
          <% end %>
          <%= link_to 'Sign out', omniauth_logout_url %>
        </div>
      </div>
    </div>
  </header>

  <% if content_for :back_button %>
    <div class="govuk-width-container">
       <%= yield :back_button %>
    </div>
  <% end %>

  <% flash.each do |name, messages| %>
    <% if messages.present? %>
    <div class="hackney-flash-messages-container">
      <div class="govuk-error-summary hackney-<%= name %>-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% messages.each do |message| %>
            <li class="govuk-!-font-weight-bold govuk-body-l hackney-flash-message-<%= name %>">
              <%= message %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <% if content_for :page_header %>
    <div class="hackney-page-header">
      <div class="govuk-width-container">
        <div class="hackney-width-container">
          <div class="govuk-main-wrapper ">
            <%= yield :page_header %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="hackney-width-container">
    <div class="govuk-main-wrapper hackney-main-wrapper">
      <%= yield %>
    </div>
  </div>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
    </div>
  </footer>

  <script>
    window.GOVUKFrontend.initAll()
  </script>
</body>
