<!DOCTYPE html>
<html>
  <head>
    <title>RepairsManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      You are logged in as <%= session[:current_user]['name'] %>
      (<%= link_to 'Logout', azure_active_directory_logout_url %>)
    </p>

    <%= yield %>
  </body>
</html>
